<?php
$this->headScript()->appendFile('https://www.paypal.com/sdk/js?currency=EUR&client-id=' . $this->clientId);
?>
<div id="paypal-button-container"></div>

<script>
    paypal.Buttons({
        createOrder: function () {
            return fetch('/paypalcheckout-createorder', {
                method: 'post',
                headers: {
                    'content-type': 'application/json'
                }
            }).then(function (res) {
                return res.json();
            }).then(function (data) {
                return data.orderID; // Use the same key name for order ID on the client and server
            });
        },
        onApprove: function (data) {
            return fetch('/paypalcheckout-capturetransaction', {
                method: 'post',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    orderID: data.orderID
                })
            }).then(function (res) {
                return res.json();
            }).then(function (details) {
                alert('Transaction funds captured from ' + details.payer_given_name);
            })
        }
    }).render('#paypal-button-container');
    // This function displays Smart Payment Buttons on your web page.
</script>
