<?php
$this->headScript()->appendFile('https://www.paypal.com/sdk/js?currency=EUR&disable-funding=credit,giropay,sofort&client-id=' . $this->clientId);
?>
<div id="paypal-button-container"></div>

<script>
    paypal.Buttons({
        createOrder: function () {
            return fetch('/paypalcheckout-createorder', {
                method: 'post',
                headers: {
                    'content-type': 'application/json'
                }
            }).then(function (res) {
                return res.json();
            }).then(function (data) {
                // console.log(JSON.stringify(data, null, 4));
                return data.orderID; // Use the same key name for order ID on the client and server
            });
        },
        onApprove: function (data) {
            /**
             *  {
             *      "orderID": "4RA93998MR6534335",
             *      "payerID": "LWUVXVWJTKER8",
             *      "paymentID": null,
             *      "billingToken": null,
             *      "facilitatorAccessToken": "A21AAErAWnzp1AyDEPj_aKk4KKEwmYHrNTw_r7nfJt9BxerWewMwlDlPkjWwLzXduoCHE5cnjCn7Oazob9ANDukrO9pkFfm5w"
             *  }
             */
            // console.log(JSON.stringify(data, null, 4));
            return fetch('/paypalcheckout-capturetransaction/' + data.orderID, {
                method: 'post',
                // headers: {
                //     'content-type': 'application/json'
                // },
                // body: JSON.stringify({orderID: data.orderID})
            }).then(function (res) {
                console.log('onApprove-1: ' + JSON.stringify(res, null, 4));
                return res.json();
            }).then(function (details) {
                console.log('onApprove-2: ' + JSON.stringify(details, null, 4));
                alert('Transaction funds captured');
            })
        }
    }).render('#paypal-button-container');
    // This function displays Smart Payment Buttons on your web page.
</script>
